<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Scope Singleton & Prototype-->
 <!--   <bean id="alien" class="org.example.Alien" scope="prototype">-->

    <bean id="alien" class="org.example.Alien" autowire="byName" >
        <property name="age" value="21"/>
        <property name="com" ref="com2"/>

        <!--TYPE-->
       <!-- <constructor-arg type="int" value="21"/>
        <constructor-arg type="org.example.Laptop" ref="lap1"/>-->

       <!-- Index-->
       <!-- <constructor-arg index="1" ref="lap1"/>
         <constructor-arg index="0" value="21"/>-->


        <!-- Name by adding @ConstructorProperties in Alien Class-->
     <!--   <constructor-arg name="lap" ref="lap1"/>
        <constructor-arg name="age" value="21"/>-->


    </bean>

      <!--Primary used for to check the Autowire(byName & byType)  byType works-->
    <!--<bean id="com1" class="org.example.Laptop" primary="true"> </bean>-->

    <bean id="com1" class="org.example.Laptop" > </bean>
    <bean id="com2" class="org.example.Desktop" lazy-init="true"> </bean>

</beans>